
  <div>
  <div class="box"  ><img src="../../assets/10.png"> </div>
  <div class="box"><h1 class="textadmin">Espace Admin </h1></div>
  </div>
  <div style="padding-top: 10%;">
    <div class="box"  ><img src="../../assets/7.png"> </div>
    <div class="box">  <input type="text" id="fname" name="fname" placeholder="Chercher Session"><br><br></div>
    </div>
  
      <ul>
        <li> 
          <div class="box"  ><img src="../../assets/3.png"> </div>
          <div class="box"><a    routerLink="/dashboard" routerLinkActive="active"      class="textimg" href="default.asp">Dashboard</a> </div>
          <hr>
        </li>
          
          
          <li> 
            <div class="box"  ><img src="../../assets/13.png"> </div>
            <div class="box"><a   routerLink="/admin" routerLinkActive="active"   class="textimg" href="default.asp">Sessions</a> </div>
            <hr>
          </li>
            <li> 
              <div class="box"  ><img src="../../assets/14.png"> </div>
              <div class="box"><a   routerLink="/formateur" routerLinkActive="active"   class="textimg" href="default.asp">Formateurs</a> </div>
              <hr>
            </li>
              <li> 
                <div class="box"  ><img src="../../assets/12.png"> </div>
                <div class="box"><a   routerLink="/participants" routerLinkActive="active"  class="textimg" href="default.asp">Participants</a> </div>
                <hr>
              </li>
      </ul>
  
  